
/source/OGP.sln.docstates.suo
/source/OGP.suo

/source/OGP.ClientWpf/bin
/source/OGP.ClientWpf/obj
/source/OGP.ClientWpf/StyleCop.Cache

/source/Todolist/bin
/source/Todolist/obj
/source/Todolist.All/bin
/source/Todolist.All/obj
/source/Todolist.Bll/bin
/source/Todolist.Bll/obj
/source/Todolist.Service/bin
/source/Todolist.Service/obj
/source/Todolist.ValueObjects/bin
/source/Todolist.ValueObjects/obj

/source/Utils.Commands/obj
/source/Utils.Commands/bin
/source/Utils.Observable/bin
/source/Utils.Observable/obj
/source/Utils.ViewModel/bin
/source/Utils.ViewModel/obj
/source/Utils.Wcf/bin
/source/Utils.Wcf/obj
/externe/Cinch/obj
/externe/Cinch/bin
/externe/Cinch/bin
/externe/Cinch/obj
/source/Utils.UiDispatcher/bin
/source/Utils.UiDispatcher/obj
/source/Todolist.Client/obj
/source/Todolist.Client/bin

/source/OGP.Plugin/bin
/source/OGP.Plugin/obj
/source/Utils.Log/bin
/source/Utils.Log/obj


/source/Utils.Config/bin/Debug/Utils.Config.dll
/source/Utils.Config/bin/Debug/Utils.Config.pdb
/source/Utils.Config/bin/Debug/Utils.dll
/source/Utils.Config/bin/Debug/Utils.pdb
/source/Utils.Config/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/source/Utils.Config/obj/Debug/ResolveAssemblyReference.cache
/source/Utils.Config/obj/Debug/Utils.Config.csproj.FileListAbsolute.txt
/source/Utils.Config/obj/Debug/Utils.Config.dll
/source/Utils.Config/obj/Debug/Utils.Config.pdb
/source/Utils/bin/Debug/Utils.dll
/source/Utils/bin/Debug/Utils.pdb
/source/Utils/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/source/Utils/obj/Debug/Utils.csproj.FileListAbsolute.txt
/source/Utils/obj/Debug/Utils.dll
/source/Utils/obj/Debug/Utils.pdb