
/source/OGP.ClientWpf/bin/Debug/OGP.ClientWpf.vshost.exe
/source/OGP.ClientWpf/bin/Debug/OGP.ClientWpf.vshost.exe.manifest
/source/OGP.ClientWpf/obj/x86/Debug/App.g.i.cs
/source/OGP.ClientWpf/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/source/OGP.ClientWpf/obj/x86/Debug/MainWindow.g.i.cs
/source/OGP.ClientWpf/obj/x86/Debug/OGP.ClientWpf_MarkupCompile.i.cache
/source/OGP.ClientWpf/obj/x86/Debug/TempPE/Properties.Resources.Designer.cs.dll
/source/OGP.sln.docstates.suo
/source/OGP.suo
/source/OGP/bin/Debug/OGP.vshost.exe
/source/OGP/bin/Debug/OGP.vshost.exe.manifest
/source/OGP/obj/x86/Debug/App.g.i.cs
/source/OGP/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/source/OGP/obj/x86/Debug/MainWindow.g.i.cs
/source/OGP/obj/x86/Debug/OGP_MarkupCompile.i.cache
/source/OGP/obj/x86/Debug/TempPE/Properties.Resources.Designer.cs.dll
/externe/FabTab/obj/Debug/ContentTabView.baml
/externe/FabTab/obj/Debug/ContentTabView.g.cs
/externe/FabTab/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/externe/FabTab/obj/Debug/FabTab.Properties.Resources.resources
/externe/FabTab/obj/Debug/FabTab.csproj.FileListAbsolute.txt
/externe/FabTab/obj/Debug/FabTab.dll
/externe/FabTab/obj/Debug/FabTab.g.resources
/externe/FabTab/obj/Debug/FabTab.pdb
/externe/FabTab/obj/Debug/FabTabResources.baml
/externe/FabTab/obj/Debug/FabTabResources.g.cs
/externe/FabTab/obj/Debug/FabTab_MarkupCompile.cache
/externe/FabTab/obj/Debug/FabTab_MarkupCompile.lref
/externe/FabTab/obj/Debug/GenerateResource-ResGen.read.1.tlog
/externe/FabTab/obj/Debug/GenerateResource-ResGen.write.1.tlog
/externe/FabTab/obj/Debug/GeneratedInternalTypeHelper.g.cs
/source/OGP.ClientWpf/bin/Debug/OGP.ClientWpf.exe
/source/OGP.ClientWpf/bin/Debug/OGP.ClientWpf.pdb
/source/OGP.ClientWpf/obj/x86/Debug/App.g.cs
/source/OGP.ClientWpf/obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
/source/OGP.ClientWpf/obj/x86/Debug/GenerateResource.read.1.tlog
/source/OGP.ClientWpf/obj/x86/Debug/GenerateResource.write.1.tlog
/source/OGP.ClientWpf/obj/x86/Debug/MainWindow.baml
/source/OGP.ClientWpf/obj/x86/Debug/MainWindow.g.cs
/source/OGP.ClientWpf/obj/x86/Debug/OGP.ClientWpf.Properties.Resources.resources
/source/OGP.ClientWpf/obj/x86/Debug/OGP.ClientWpf.csproj.FileListAbsolute.txt
/source/OGP.ClientWpf/obj/x86/Debug/OGP.ClientWpf.exe
/source/OGP.ClientWpf/obj/x86/Debug/OGP.ClientWpf.g.resources
/source/OGP.ClientWpf/obj/x86/Debug/OGP.ClientWpf.pdb
/source/OGP.ClientWpf/obj/x86/Debug/OGP.ClientWpf_MarkupCompile.cache
/source/OGP.ClientWpf/bin/Debug/AvalonDock.dll
/source/OGP.ClientWpf/bin/Debug/Microsoft.Windows.Shell.dll
/source/OGP.ClientWpf/bin/Debug/Microsoft.Windows.Shell.xml
/source/OGP.ClientWpf/bin/Debug/RibbonControlsLibrary.dll
/source/OGP.ClientWpf/bin/Debug/RibbonControlsLibrary.xml
/source/OGP.ClientWpf/StyleCop.Cache
/source/OGP.ClientWpf/StyleCop.Cache
/source/OGP.ClientWpf/StyleCop.Cache
/source/OGP.ClientWpf/bin/Debug/Fluent.dll
/source/OGP.ClientWpf/bin/Debug/Fluent.xml
/source/OGP.ClientWpf/obj/x86/Debug/.gitignore
/source/OGP.ClientWpf/obj/x86/Debug/GeneratedInternalTypeHelper.g.i.cs
/source/OGP.ClientWpf/obj/x86/Debug/MainView.g.i.cs
/source/OGP.ClientWpf.Extensions/obj/Debug/.gitignore
/source/OGP.ClientWpf.Extensions/obj/Debug/View/MonDocument.g.i.cs
/source/OGP.ClientWpf/obj/x86/Debug/OGP.ClientWpf_Content.g.i.cs
/source/OGP.ClientWpf/obj/x86/Debug/ResolveAssemblyReference.cache
/source/OGP.ClientWpf/obj/x86/Debug/View/MainView.g.cs
/source/OGP.ClientWpf/obj/x86/Debug/View/MainView.g.i.cs
/source/Utils.Observable/bin/Debug/Utils.Observable.dll
/source/Utils.Observable/bin/Debug/Utils.Observable.pdb
/source/Utils.Observable/obj/Debug/Utils.Observable.csproj.FileListAbsolute.txt
/source/Utils.Observable/obj/Debug/.gitignore
/source/Utils.Observable/obj/Debug/Utils.Observable.dll
/source/OGP.ClientWpf/obj/x86/Debug/GeneratedInternalTypeHelper.g.cs
/source/OGP.ClientWpf/obj/x86/Debug/OGP.ClientWpf_MarkupCompile.i.lref
/source/OGP.ClientWpf/obj/x86/Debug/OGP.ClientWpf_MarkupCompile.lref
/source/OGP.ClientWpf/obj/x86/Debug/View/GestionDesTaches.baml
/source/OGP.ClientWpf/obj/x86/Debug/View/NouveauFichier.g.i.cs
/source/OGP.ClientWpf/obj/x86/Debug/View/NouvelleGestionTache.baml
/source/OGP.ClientWpf/obj/x86/Debug/View/NouvelleGestionTache.g.cs
/source/OGP.ClientWpf/obj/x86/Debug/View/NouvelleGestionTache.g.i.cs
/source/ClientTests/bin/Debug/ClientTests.exe.config
/source/ClientTests/bin/Debug/ClientTests.vshost.exe.config
/source/ClientTests/bin/Debug/ClientTests.vshost.exe.manifest
/source/ClientTests/bin/Debug/OGP.All.dll
/source/ClientTests/bin/Debug/OGP.ServiceWcf.dll
/source/ClientTests/bin/Debug/OGP.ValueObjects.dll
/source/ClientTests/bin/Debug/Utils.Wcf.dll
/source/ClientTests/obj/x86/Debug/App.g.cs
/source/ClientTests/obj/x86/Debug/App.g.i.cs
/source/ClientTests/obj/x86/Debug/ClientTests.Properties.Resources.resources
/source/ClientTests/obj/x86/Debug/ClientTests.csproj.FileListAbsolute.txt
/source/ClientTests/obj/x86/Debug/ClientTests.exe
/source/ClientTests/obj/x86/Debug/ClientTests.g.resources
/source/ClientTests/obj/x86/Debug/ClientTests.pdb
/source/ClientTests/obj/x86/Debug/ClientTests_MarkupCompile.cache
/source/ClientTests/obj/x86/Debug/ClientTests_MarkupCompile.i.cache
/source/ClientTests/obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
/source/ClientTests/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/source/ClientTests/obj/x86/Debug/GenerateResource.read.1.tlog
/source/ClientTests/obj/x86/Debug/GenerateResource.write.1.tlog
/source/ClientTests/obj/x86/Debug/MainWindow.baml
/source/ClientTests/obj/x86/Debug/MainWindow.g.cs
/source/ClientTests/obj/x86/Debug/MainWindow.g.i.cs
/source/ClientTests/obj/x86/Debug/ResolveAssemblyReference.cache
/source/ClientTests/obj/x86/Debug/TempPE/Properties.Resources.Designer.cs.dll
/source/OGP.ServiceWcf/bin/Debug/OGP.All.dll
/source/OGP.ServiceWcf/bin/Debug/OGP.All.pdb
/source/OGP.ServiceWcf/bin/Debug/OGP.ServiceWcf.dll
/source/OGP.ServiceWcf/bin/Debug/OGP.ServiceWcf.dll.config
/source/OGP.ServiceWcf/bin/Debug/OGP.ServiceWcf.pdb
/source/OGP.ServiceWcf/bin/Debug/OGP.ValueObjects.dll
/source/OGP.ServiceWcf/bin/Debug/OGP.ValueObjects.pdb
/source/OGP.ServiceWcf/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/source/OGP.ServiceWcf/obj/Debug/OGP.ServiceWcf.csproj.FileListAbsolute.txt
/source/OGP.ServiceWcf/obj/Debug/OGP.ServiceWcf.dll
/source/OGP.ServiceWcf/obj/Debug/OGP.ServiceWcf.pdb
/source/OGP.ServiceWcf/obj/Debug/ResolveAssemblyReference.cache
/source/ClientTests/obj
/source/ClientTests/bin


/source/OGP.All/bin/Debug/OGP.All.pdb
/source/OGP.All/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/source/OGP.All/obj/Debug/OGP.All.pdb
/source/OGP.Bll/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/source/OGP.Bll/obj/Debug/OGP.Bll.csproj.FileListAbsolute.txt
/source/OGP.Bll/obj/Debug/OGP.Bll.dll
/source/OGP.Bll/obj/Debug/OGP.Bll.pdb
/source/OGP.ClientWpf.Extensions/obj/Debug/View/MonDocument.baml
/source/OGP.ClientWpf.Extensions/obj/Debug/View/MonDocument.g.cs
/source/OGP.ValueObjects/bin/Debug/OGP.ValueObjects.dll
/source/OGP.ValueObjects/bin/Debug/OGP.ValueObjects.pdb
/source/OGP.ValueObjects/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/source/OGP.ValueObjects/obj/Debug/OGP.ValueObjects.csproj.FileListAbsolute.txt
/source/OGP.ValueObjects/obj/Debug/OGP.ValueObjects.dll
/source/OGP.ValueObjects/obj/Debug/OGP.ValueObjects.pdb
/source/Utils.Wcf/bin/Debug/Utils.Wcf.dll
/source/Utils.Wcf/bin/Debug/Utils.Wcf.pdb
/source/Utils.Wcf/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/source/Utils.Wcf/obj/Debug/Utils.Wcf.csproj.FileListAbsolute.txt
/source/Utils.Wcf/obj/Debug/Utils.Wcf.dll
/source/Utils.Wcf/obj/Debug/Utils.Wcf.pdb
/source/OGP.Bll/bin/Debug/OGP.ValueObjects.pdb
/source/OGP.Bll/obj/Debug/ResolveAssemblyReference.cache
/source/OGP.ClientWpf.Extensions/obj/Debug/ResolveAssemblyReference.cache
/source/OGP.ClientWpf.Extensions/obj/Debug/View/NouvelleGestionTache.baml
/source/OGP.ClientWpf.Extensions/obj/Debug/View/NouvelleGestionTache.g.cs
/source/OGP.ClientWpf.Extensions/obj/Debug/View/NouvelleGestionTache.g.i.cs
/source/OGP.ClientWpf/bin/Debug/App.config
/source/OGP.ClientWpf/bin/Debug/AvalonDock.Themes.dll
/source/OGP.ClientWpf/bin/Debug/Fluent.pdb
/source/OGP.ClientWpf/bin/Debug/OGP.All.dll
/source/OGP.ClientWpf/bin/Debug/OGP.All.pdb
/source/OGP.ClientWpf/bin/Debug/OGP.Bll.dll
/source/OGP.ClientWpf/bin/Debug/OGP.Bll.pdb
/source/OGP.ClientWpf/bin/Debug/OGP.ClientWpf.Extensions.dll
/source/OGP.ClientWpf/bin/Debug/OGP.ClientWpf.Extensions.pdb
/source/OGP.ClientWpf/bin/Debug/OGP.ClientWpf.exe.config
/source/OGP.ClientWpf/bin/Debug/OGP.ClientWpf.vshost.exe.config
/source/OGP.ClientWpf/bin/Debug/OGP.ServiceWcf.dll
/source/OGP.ClientWpf/bin/Debug/OGP.ServiceWcf.pdb
/source/OGP.ClientWpf/bin/Debug/OGP.ValueObjects.dll
/source/OGP.ClientWpf/bin/Debug/OGP.ValueObjects.pdb
/source/OGP.ClientWpf/bin/Debug/Utils.Wcf.dll
/source/OGP.ClientWpf/bin/Debug/Utils.Wcf.pdb
/source/OGP.ClientWpf/obj/x86/Debug/App.baml
/source/OGP.ServiceWcf/bin/Debug/OGP.Bll.dll
/source/OGP.ServiceWcf/bin/Debug/OGP.Bll.pdb
/source/OGP.test/obj/Debug/OGP.test.g.resources
/source/OGP.test/obj/Debug/test.baml
/source/OGP.test/obj/Debug/test.g.cs
/source/OGP.test/obj/Debug/test.g.i.cs
/source/OGP.All/bin/Debug/OGP.Bll.pdb
/source/OGP.All/bin/Debug/OGP.ValueObjects.pdb
/source/OGP.All/obj/Debug/ResolveAssemblyReference.cache
/source/OGP.Bll/bin/Debug/OGP.ValueObjects.dll