
/source/OGP.sln.docstates.suo
/source/OGP.suo

/source/OGP.ClientWpf/bin
/source/OGP.ClientWpf/obj
/source/OGP.ClientWpf/StyleCop.Cache

/source/Todolist/bin
/source/Todolist/obj
/source/Todolist.All/bin
/source/Todolist.All/obj
/source/Todolist.Bll/bin
/source/Todolist.Bll/obj
/source/Todolist.Service/bin
/source/Todolist.Service/obj
/source/Todolist.ValueObjects/bin
/source/Todolist.ValueObjects/obj

/source/Utils.Commands/obj
/source/Utils.Commands/bin
/source/Utils.Observable/bin
/source/Utils.Observable/obj
/source/Utils.ViewModel/bin
/source/Utils.ViewModel/obj
/source/Utils.Wcf/bin
/source/Utils.Wcf/obj
/externe/Cinch/obj
/externe/Cinch/bin
/externe/Cinch/bin
/externe/Cinch/obj
/source/Utils.UiDispatcher/bin
/source/Utils.UiDispatcher/obj
/source/Todolist.Client/obj
/source/Todolist.Client/bin

/source/OGP.Plugin/bin
/source/OGP.Plugin/obj
/source/Utils.Log/bin
/source/Utils.Log/obj

